<a href="https://colab.research.google.com/github/CBIIT/python-carpentry-workshop/blob/main/python_for_loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loops

## A for loop executes commands once for each value in a collection

In [ ]:
grade0 = 70
grade1 = 75
grade2 = 50
#...
grade100 = 30

In [ ]:
#Increment all grades by 2
grade0 = grade0 + 2
grade1 = grade1 + 2
grade2 = grade2 + 2
#...
grade100 = grade100 + 2

In [ ]:
grades = [70, 75, 50, 30]
grades[0] = grades[0] + 2
grades[1] = grades[1] + 2
#And so on
print(grades)

[72, 77, 50, 30]

## A for loop tells python to execute some statements once fo reach value in a list (collection), character string, or any collection

In [ ]:
for number in [2, 3, 5]: #First line of the for loop has to end with ':'
  print(number)
  print(number * 10)
print("end of for loop") #This is not part of the body of the for loop

2
20
3
30
5
50
end of for loop

In [ ]:
 #First line of the for loop has to end with ':'
for number in [2, 3, 5]
  print(number)
  print(number * 10)

SyntaxError: ignored

In [ ]:
 #Body of  the for loop has to be indented
for number in [2, 3, 5]:
print(number)

IndentationError: ignored

In [ ]:
# Indentation is important in python
first_name = "John"
  last_name = "Smith"

IndentationError: ignored

## The body of a for loop can contain as many statements as needed

In [ ]:
primes = [2, 3, 5]
for p in primes:
  squared = p ** 2
  cubed = p ** 3
  print(p, squared, cubed)

2 4 8
3 9 27
5 25 125

## Use range to iterate over a sequence of numbers

In [ ]:
print('a range is not a list: range(0,3)')
for number in range(0, 10):
  print('*')
  #print(number)

a range is not a list: range(0,3)
*
*
*
*
*
*
*
*
*
*

## Exercise
Given the grades of the students:
grades = [70, 75, 50, 30]
Give every student a bonus of 2 using for loops

In [ ]:
grades = [70, 75, 50, 30, 67]
n_students = len(grades)
for index in range(0,n_students):
  print(index)
  grades[index] = grades[index] + 2
print(grades)

0
1
2
3
4
[72, 77, 52, 32, 69]

## Calculate the mean grade of students

In [ ]:
# Mean = sum(grades) / n_students
grades = [70, 75, 50, 30, 67]
n_students = len(grades)
sum = 0
for grade in grades:
  sum = sum + grade
  print(sum)

mean_grade = sum / n_students
print("Mean grade:", mean_grade)

70
145
195
225
292
Mean grade: 58.4