<a href="https://colab.research.google.com/github/CBIIT/python-carpentry-workshop/blob/main/python_pandas_dataframes_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas DataFrames 2

In [ ]:
import pandas as pd

In [ ]:
data_europe = pd.read_csv("https://raw.githubusercontent.com/swcarpentry/python-novice-gapminder/gh-pages/data/gapminder_gdp_europe.csv", index_col='country')

## Dataframe object has methods and member variables

In [ ]:
data_europe.info()

In [ ]:
type(data_europe)

pandas.core.frame.DataFrame

## Selecting values

In [ ]:
data_europe.iloc[0, 0]

1601.056136

In [ ]:
data_europe.loc["Albania", "gdpPercap_1952"]

1601.056136

In [ ]:
data_albania = data_europe.loc["Albania", :]
print(type(data_albania))
data_albania.describe()
data_albania

<class 'pandas.core.series.Series'>

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [ ]:
data_1952 = data_europe.loc[:, "gdpPercap_1952"]
data_1952

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

## Select multiple columns from the dataframe

In [ ]:
subset = data_europe.loc["Italy":"Poland", 'gdpPercap_1962':'gdpPercap_1972']
print("type(subset)) is: ", type(subset))
subset

type(subset)) is:  <class 'pandas.core.frame.DataFrame'>

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

## Use sliced results in further operations

In [ ]:
# Run maximum on rows
subset.max(1)

country
Italy          12269.273780
Montenegro      7778.414017
Netherlands    18794.745670
Norway         18965.055510
Poland          8006.506993
dtype: float64

In [ ]:
subset.min()

gdpPercap_1962    4649.593785
gdpPercap_1967    5907.850937
gdpPercap_1972    7778.414017
dtype: float64

In [ ]:
# Apply method on the returned dataframe in the same line
data_europe.loc["Italy":"Poland", 'gdpPercap_1962':'gdpPercap_1972'].max()

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

In [ ]:
help(subset.max)

## Poll question (Please answer the question in the poll)
We will start 11:05

In [ ]:
import pandas as pd

In [ ]:
s1 = pd.Series([1,2,3], index=["A","B","C"], name='s1')

In [ ]:
s1

A    1
B    2
C    3
Name: s1, dtype: int64

In [ ]:
s2 = pd.Series([3,4,5], index=["A","B","C"], name="s2")
s2

A    3
B    4
C    5
Name: s2, dtype: int64

In [ ]:
data = pd.concat([s1, s2], axis = 1)
data

   s1  s2
A   1   3
B   2   4
C   3   5

In [ ]:
data_europe = pd.read_csv("https://raw.githubusercontent.com/swcarpentry/python-novice-gapminder/gh-pages/data/gapminder_gdp_europe.csv", index_col='country')

In [ ]:
data_europe

                        gdpPercap_1952  ...  gdpPercap_2007
country                                 ...
Albania                    1601.056136  ...     5937.029526
Austria                    6137.076492  ...    36126.492700
Belgium                    8343.105127  ...    33692.605080
Bosnia and Herzegovina      973.533195  ...     7446.298803
Bulgaria                   2444.286648  ...    10680.792820
Croatia                    3119.236520  ...    14619.222720
Czech Republic             6876.140250  ...    22833.308510
Denmark                    9692.385245  ...    35278.418740
Finland                    6424.519071  ...    33207.084400
France                     7029.809327  ...    30470.016700
Germany                    7144.114393  ...    32170.374420
Greece                     3530.690067  ...    27538.411880
Hungary                    5263.673816  ...    18008.944440
Iceland                    7267.688428  ...    36180.789190
Ireland                    5210.280328  ...    40675.996350
Italy                      4931.404155  ...    28569.719700
Montenegro                 2647.585601  ...     9253.896111
Netherlands                8941.571858  ...    36797.933320
Norway                    10095.421720  ...    49357.190170
Poland                     4029.329699  ...    15389.924680
Portugal                   3068.319867  ...    20509.647770
Romania                    3144.613186  ...    10808.475610
Serbia                     3581.459448  ...     9786.534714
Slovak Republic            5074.659104  ...    18678.314350
Slovenia                   4215.041741  ...    25768.257590
Spain                      3834.034742  ...    28821.063700
Sweden                     8527.844662  ...    33859.748350
Switzerland               14734.232750  ...    37506.419070
Turkey                     1969.100980  ...     8458.276384
United Kingdom             9979.508487  ...    33203.261280

[30 rows x 12 columns]

## Use Comparison to select data based on value

In [ ]:
subset = data_europe.loc["Italy":"Poland", "gdpPercap_1962":"gdpPercap_1972"]
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [ ]:
comp_results = subset > 10000
print(comp_results)
type(comp_results)

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

pandas.core.frame.DataFrame

## Select values or NaN using Boolean mask

In [ ]:
subset_gt_10000 = subset[comp_results]
subset_gt_10000

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [ ]:
subset_gt_10000.describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737547    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513523    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

## Group By: split-apply-combine

In [ ]:
# Tell if every country did better or less than the mean gdp for a given year
mask_higher = data_europe > data_europe.mean()
#print(mask_higher)
# Sum the number of years a country did better than the mean gdp
years_gt_average_normalized = mask_higher.aggregate("sum", axis=1) / len(data_europe.columns)
years_gt_average_normalized

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

## Group the countries by their score tag

In [ ]:
groups = data_europe.groupby(years_gt_average_normalized)
type(groups)

pandas.core.groupby.generic.DataFrameGroupBy