<a href="https://colab.research.google.com/github/CBIIT/python-carpentry-workshop/blob/main/python_data_types_and_type_conversion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Type Conversion

## Every value has a type

- **Integer** (`int`): represents positive, negative, or neutral whole numbers like 3, -5, or 0.
- **Floating point number** (`float`): represents real numbers like 3.14159 or -2.5.
- **Character string** (`str`): represent text written in either single quotes or double quotes like 'hello'

## Use the built-in function `type` to find the type of a value

In [1]:
print(type(3))

<class 'int'>

In [2]:
print(type(-2.5))

<class 'float'>

In [3]:
print(type('hello'))

<class 'str'>

In [4]:
#the built-in function type works on variables as well
word = 'hello'
print(type(word))

<class 'str'>

## Types control what operations can be done on values

In [5]:
print(5 - 3)

2

In [6]:
print('hello' - 'h')

TypeError: ignored

## Strings can be added and multiplied

In [7]:
#“Adding” character strings concatenates them.
sequence1 = 'act' + 'cgg'
print(sequence1)

actcgg

In [8]:
#Multiplying a character string by an integer N 
#creates a new string that consists of that character string repeated N times.
sequence2 = 'a' * 10
print(sequence2)

aaaaaaaaaa

## Strings have a length but numbers don’t

In [11]:
#The built-in function len counts the number of characters in a string.
print(len('actcgg'))

10

In [12]:
#But numbers don’t have a length (not even zero).
print(len(5))

TypeError: ignored

## Must convert numbers to strings or vice versa when operating on them

In [13]:
#Cannot add numbers and strings.
print(1 + '2')

TypeError: ignored

In [ ]:
#Some types can be converted to other types by using the type name as a function.
print(1 + int('2'))
print(str(1) + '2')

### Exercise: Strings to Numbers

Where reasonable, `float()` will convert a string to a floating point number, and `int()` will convert a floating point number to an integer:

In [ ]:
type("3.4")
type(float("3.4"))

In [ ]:
int(3.4)

In [ ]:
#If the conversion doesn’t make sense, however, an error message will occur
print("string to float:", float("hello"))

Given this information, what do you expect the following program to do? What does it actually do? Why do you think it does that?

`print("fractional string to int:", int("3.4"))`

In [ ]:
int("3.4")

## Can mix integers and floats freely in operations

In [ ]:
print('half is', 1 / 2.0)
print('three squared is', 3.0 ** 2)

### Exercise: Arithmetic with Different Types

Which of the following will return the floating point number 2.0? Note: there may be more than one right answer.
```
first = 1.0
second = "1"
third = "1.1"
```
1. `first + float(second)`
2. `float(second) + float(third)`
3. `first + int(third)`
4. `first + int(float(third))`
5. `int(first) + int(float(third))`
6. `2.0 * second`

## Variables only change value when something is assigned to them

In [ ]:
first = 1
second = 5 * first
first = 2
print('first is', first, 'and second is', second)

## Homework

### Exercise: Choose a Type

What type of value (integer, floating point number, or character string) would you use to represent each of the following? Try to come up with more than one good answer for each problem. For example, in # 1, when would counting days with a floating point variable make more sense than using an integer?
1. Number of days since the start of the year.
2. Time elapsed from the start of the year until now in days.
3. Serial number of a piece of lab equipment.
4. A lab specimen’s age
5. Current population of a city.
6. Average population of a city over time.

### Exercise: Division Types

In Python 3, the `//` operator performs integer (whole-number) floor division, the `/` operator performs floating-point division, and the `%`**bold text** (or modulo) operator calculates and returns the remainder from integer division

In [ ]:
print('5 // 3:', 5 // 3)
print('5 / 3:', 5 / 3)
print('5 % 3:', 5 % 3)


If `num_subjects` is the number of subjects taking part in a study, and `num_per_survey` is the number that can take part in a single survey, write an expression that calculates the number of surveys needed to reach everyone once.

### Exercise: Complex Numbers

Python provides complex numbers, which are written as `1.0+2.0j`. If `val` is a complex number, its real and imaginary parts can be accessed using dot notation as `val.real` and `val.imag`.`

In [ ]:
complex = 6 + 2j
print(complex.real)
print(complex.imag)

1. Why do you think Python uses j instead of i for the imaginary part?
2. What do you expect 1+2j + 3 to produce?
3. What do you expect 4j to be? What about 4 j or 4 + j?