<a href="https://colab.research.google.com/github/CBIIT/python-carpentry-workshop/blob/main/week3_pandas_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas DataFrames

## Note about Pandas DataFrames/Series

A DataFrame is a collection of Series; The DataFrame is the way Pandas represents a table, and Series is the data-structure Pandas use to represent a column.

Pandas is built on top of the Numpy library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames.

What makes Pandas so attractive is the powerful interface to access individual records of the table, proper handling of missing values, and relational-databases operations between DataFrames.

## Selecting values - Use `DataFrame.iloc[..., ...]` to select values by their (entry) position

In [2]:
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/swcarpentry/python-novice-plotting-ARCHIVED/gh-pages/data/gapminder_gdp_europe.csv', index_col='country')

In [3]:
data.iloc[0,0]

1601.056136

## Selecting values - Use `DataFrame.loc[..., ...]` to select values by their (entry) label

In [5]:
data.loc["Albania","gdpPercap_1952"]

1601.056136

## Selecting values - Use `:` on its own to mean all columns or all rows.

In [6]:
data.loc["Albania", :]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [7]:
data.loc[:, "gdpPercap_1952"]

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

## Select multiple columns or rows using 'DataFrame.loc' and a named slice

In [8]:
data.loc['Italy':'Poland','gdpPercap_1962':'gdpPercap_1972']

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

## Result of slicing can be used in further operations

In [9]:
data.loc['Italy':'Poland','gdpPercap_1962':'gdpPercap_1972'].max()

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

In [10]:
data.loc['Italy':'Poland','gdpPercap_1962':'gdpPercap_1972'].min()

gdpPercap_1962    4649.593785
gdpPercap_1967    5907.850937
gdpPercap_1972    7778.414017
dtype: float64

## Use comparisons to select data based on value

In [11]:
subset = data.loc['Italy':'Poland','gdpPercap_1962':'gdpPercap_1972']
print(subset)
print(subset > 10000)

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993
             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

## Select values or NaN using a Boolean mask

In [12]:
mask = subset > 10000
print(subset[mask])

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [13]:
print(subset[mask].describe())

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737548    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513522    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

## Homework

- [Selection of Individual Values](http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html#selection-of-individual-values)
- [Extent of Slicing](http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html#extent-of-slicing)
- [Reconstructing Data](http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html#reconstructing-data)
- [Selecting Indices](http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html#selecting-indices)
- [Practice with Selection](http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html#practice-with-selection)
- [Many Ways of Access](http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html#many-ways-of-access)

## Summary

- Use `DataFrame.iloc[..., ...]` to select values by integer location.
- Use `:` on its own to mean all columns or all rows.
- Select multiple columns or rows using `DataFrame.loc` and a named slice.
- Result of slicing can be used in further operations.
- Use comparisons to select data based on value.
- Select values or NaN using a Boolean mask.