In [ ]:
#For loops are usefull to repeat of group of statements on various values
for number in [2, 3, 5]:
  print(number)

2
3
5

In [ ]:
list_of_items = [2, 3, 5]
for number in list_of_items: # number = 5
  print(number)

2
3
5

In [ ]:
# The loop variable ca have any name
list_of_items = [2, 3, 5]
for my_number in list_of_items: 
  print(my_number)

2
3
5

In [ ]:
#The loop body can consist of multiple statements
primes = [2, 3, 5]
for p in primes: # p = 3
  squared = p ** 2 #square = 9
  cubed = p ** 3 #cubed = 27
  print(p, squared, cubed) #3, 9, 27

print("Done")

2 4 8
Done
3 9 27
Done
5 25 125
Done

In [ ]:
#You can use the range runction to generate sequence of integers
print('a range is not a list: range(0,3)')
for number in range(1, 10, 2):
  print(number)

a range is not a list: range(0,3)
1
3
5
7
9

In [ ]:
#sum the first 10 integers

# ans = 0
# ans = ans + 1
# ans = ans + 2
# ans = ans + 3, ans will be 6
# ans = ans + 4, ans will be 10
# ans = ans + 5, ans will be 15
#...
# ans = ans + 10

ans = 0
for number in range(1, 11):
  print("number = ", number)
  ans = ans + number

print(ans)

number =  1
number =  2
number =  3
number =  4
number =  5
number =  6
number =  7
number =  8
number =  9
number =  10
55

In [ ]:
#Count the number of times the loop body is executed
total = 0
for char in "tin":
  print("char = ", char)
  total = total + 1

print("total = ", total)

char =  t
char =  i
char =  n
total =  3

In [ ]:
#Reverse a string
original = "tin"
result =  ""  #complete
for char in original: 
  result = char + result  #complete
  print("partial result = ", result)

print(result) # I want to print "nit"

partial result =  t
partial result =  it
partial result =  nit
nit

In [ ]:
# Calculate the total number of characters of strings in the list: [ "red", "green", "blue"] = 12

total = 0
for word in [ "red", "green", "blue"]:
  total = total + len(word) #complete
  print("partial total:", total)

print(total)

partial total: 3
partial total: 8
partial total: 12
12